
{% extends "base.html" %}
{% comment %} {% block content %}	 
<div class="content"> 
      <!-- Start info box -->
      <div class="widget">
      <h1>Add New Bank Master </h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
<a href="{% url 'bankmaster_list' %}">Search</a>
 </div>
 </div>
{% endblock %}  {% endcomment %}
  <div class="content-page">
{% block content %}	 

    
      <div class="widget">
        <div class="widget-header">
          <h2>bankmaster Details</h2>
          <div class="additional-btn"> <a href="#" data-toggle="tooltip" data-original-title="Help"><i class="fa fa-question-circle fa-lg"></i></a> </div>
        </div>
        <div class="widget-content padding">
          <div class="mand-label clearfix"><span>Field with <i class="text-red-1">*</i> is mandatory</span></div>
          <form action="" method="post" class="form-horizontal">
           {% csrf_token %}
            <div class="form-group">
              <label class="col-sm-2 control-label">bankmaster Codde</label>
              <div class="col-sm-4">
              
                 {{ form.bankcode  }}  
              </div>
              <label class="col-sm-2 control-label">Bank Name</label>
              <div class="col-sm-4">
               {{ form.bankname   }} 
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">branch</label>
              <div class="col-sm-4">
               {{ form.branch   }} 
                {% comment %} <input name="" type="text" class="form-control" > {% endcomment %}
              </div>
              <label class="col-sm-2 control-label">bankaddress </label>
              <div class="col-sm-4">
               {{ form.bankaddress  }} 
                {% comment %} <input name="" type="text" class="form-control" > {% endcomment %}
              </div>
            </div>
           
           
            
            <div class="text-center padding-top-10">
              <button type="submit" class="btn btn-success">Submit</button>
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>
          </form>
        </div>
      </div>
 
    </div>
{% endblock %} </div>